.cart-container {
  display: grid;
  grid-template-columns: 200px 75px 200px 100px 50px;
  box-shadow: 0 5px 5px -5px rgba(115, 115, 115, 0.75);
  height: 75px;
}

.cart-text-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
  text-align: left;
}

.cart-text-container-2 {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 3px;
}

.increment-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: auto;
}

.increment-container button {
  border: 1px solid rgb(182, 182, 182);
  background-color: rgb(224, 224, 224);
  height: 30px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.increment-container svg {
  height: 1.5rem;
  width: 1.5rem;
}

.headers-container {
  display: grid;
  grid-template-columns: 200px 75px 200px 100px 50px;
  box-shadow: 0 5px 5px -5px rgba(115, 115, 115, 0.75);
  text-align: left;
}

.cart-headers {
  display: flex;
  flex-direction: row;
  margin-bottom: auto;
  width: 500px;
  box-shadow: 0 5px 5px -5px rgba(115, 115, 115, 0.75);
  height: auto;
}

.cart-headers1 h4 {
  margin-left: 15px;
  margin-bottom: 8px;
}

.cart-headers2 h4 {
  margin-bottom: 8px;
  padding-left: 3px;
}
.cart-headers3 {
  text-align: center;
}

.cart-button-container {
  margin: auto;
}

.shopping-cart {
  width: 700px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(167, 165, 165, 0.75);
}

.cart-title {
  text-align: center;
}

.count {
  width: 50px;
  border-top: 1px solid rgb(182, 182, 182);
  border-bottom: 1px solid rgb(182, 182, 182);
  height: 28px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtotal-container {
  margin-bottom: -5px;
}

.cart-button-container button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  border: none;
}

.cart-button-container svg {
  width: 2rem;
  height: 2rem;
}

.cart-button-container svg:hover {
  fill: red;
}

.total-container {
  display: grid;
  grid-template-columns: 425px 175px;
  bottom: 0;
  font-weight: bold;
  text-align: right;
}

.total-container p {
  grid-column: 2;
}

.total-text-container {
  margin-bottom: -5px;
}

.checkout-button {
  display: grid;
  grid-template-columns: 500px 200px;
  justify-content: flex-end;
  margin-top: 15px;
}

.checkout-button button {
  grid-column: 2;
  border: 2px solid black;
  background-color: transparent;
  margin-right: 20px;
  border-radius: 20px;
  padding: 5px 2px 5px 2px;
  font-weight: bold;
  font-size: 18px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-button svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 5px;
}

.checkout-button button:hover {
  background-color: red;
}

.counter {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 220px;
}

.counter button {
  background-color: transparent;
  height: 25px;
  border: 2px solid rgb(206, 205, 205);
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: rgb(228, 228, 228);
}

.counter p {
  padding: 3px;
  font-weight: bold;
  background-color: rgb(190, 190, 190);
}

@media (max-width: 700px) {
  .headers-container {
    display: grid;
    grid-template-columns: 125px 42px 110px 50px 40px;
    box-shadow: 0 5px 5px -5px rgba(115, 115, 115, 0.75);
    text-align: left;
  }
  .cart-container {
    display: grid;
    grid-template-columns: 125px 42px 110px 50px 40px;
    box-shadow: 0 5px 5px -5px rgba(115, 115, 115, 0.75);
    height: 75px;
  }
  .cart-text-container {
    font-size: 10px;
  }
  .cart-text-container-2 {
    font-size: 10px;
  }
  .increment-container button {
    height: 20px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .count {
    height: 18px;
    width: 20px;
    font-size: 10px;
  }

  .cart-button-container svg {
    width: 1rem;
    height: 1rem;
  }
  .headers-container h4 {
    font-size: 12px;
  }
  .total-container {
    grid-template-columns: 150px 150px;
  }
  .total-container p {
    font-size: 10px;
  }
  .checkout-button {
    grid-template-columns: 150px 150px;
  }
  .checkout-button svg {
    width: 1rem;
    height: 1rem;
  }
  .checkout-button button {
    padding: 5px 2px 5px 2px;
    font-weight: bold;
    font-size: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  }
  .shopping-cart {
    margin-top: 60px;
    margin-bottom: 65px;
  }
  .increment-container svg {
    height: 1rem;
    width: 1rem;
  }
}
