.cart-container {
  display: grid;
  grid-template-columns: 200px 100px 150px 200px;
  box-shadow: 0 5px 5px -5px rgba(115, 115, 115, 0.75);
  height: 75px;
}

.cart-text-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
  text-align: left;
}

.cart-text-container-2 {
  display: flex;
  align-items: center;
  text-align: left;
}
.increment-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: auto;
}

.increment-container button {
  border: 1px solid rgb(182, 182, 182);
  background-color: rgb(224, 224, 224);
  height: 30px;
  width: 30px;
}

.headers-container {
  display: grid;
  grid-template-columns: 200px 100px 150px 200px;
  box-shadow: 0 5px 5px -5px rgba(115, 115, 115, 0.75);
  text-align: left;
}

.cart-headers {
  display: flex;
  flex-direction: row;
  margin-bottom: auto;
  width: 500px;
  box-shadow: 0 5px 5px -5px rgba(115, 115, 115, 0.75);
  height: auto;
}

.cart-headers1 h4 {
  margin-left: 15px;
  margin-bottom: 8px;
}

.cart-headers2 h4 {
  margin-bottom: 8px;
}

.cart-button-container {
  margin: auto;
}

.shopping-cart {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(167, 165, 165, 0.75);
}

.cart-title {
  text-align: center;
}

.count {
  width: 50px;
  border-top: 1px solid rgb(182, 182, 182);
  border-bottom: 1px solid rgb(182, 182, 182);
  height: 28px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-button-container button {
  border: 1px solid #e85b3b;
  background-color: transparent;
  margin-right: 20px;
  border-radius: 20px;
  padding: 5px 2px 5px 2px;
  font-weight: bold;
  font-size: 12px;
  width: 75px;
  display: flex;
  justify-content: center;
}

.cart-button-container button:hover {
  background: linear-gradient(45deg, #e85b3b, rgb(232, 33, 86, 0.7));
}

.total-container {
  display: flex;
  width: 500px;
  justify-content: flex-end;
  margin-right: 15px;
  bottom: 0;
  margin-bottom: 6vh;
  font-weight: bold;
}

.checkout-button {
  display: flex;
  width: 500px;
  justify-content: flex-end;
  margin-top: 15px;
}

.checkout-button button {
  border: 1px solid #e85b3b;
  background-color: transparent;
  margin-right: 20px;
  border-radius: 20px;
  padding: 5px 2px 5px 2px;
  font-weight: bold;
  font-size: 12px;
  width: 75px;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.checkout-button button:hover {
  background: linear-gradient(45deg, #e85b3b, rgb(232, 33, 86, 0.7));
}

.counter {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 220px;
}

.counter button {
  background-color: transparent;
  height: 25px;
  border: 2px solid rgb(206, 205, 205);
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: rgb(228, 228, 228);
}

.counter p {
  padding: 3px;
  font-weight: bold;
  background-color: rgb(190, 190, 190);
}

@media (max-width: 700px) {
  .cart-container {
    width: 350px;
  }
  .headers-container {
    width: 350px;
  }
  .shopping-cart {
    width: 350px;
    border: none;
  }
  .checkout-button {
    width: 350px;
  }
  .total-container {
    width: 350px;
  }
  .cart-headers1 h4 {
    margin-left: 8px;
    margin-bottom: 8px;
  }

  .cart-headers2 h4 {
    margin-left: 82px;
    margin-bottom: 8px;
  }
  .cart-text-container-2 {
    margin-top: 12px;
    position: absolute;
    margin-left: 150px;
  }
}
