.main-body {
  margin-top: 60px;
  height: 100vh;
  margin-bottom: 60px;
  width: 100vw;
}

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  color: red;
}
