.add-product-container {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.add-product-container button {
  border: 3px solid #e85b3b;
  background: transparent;
  margin: 5px;
  width: 175px;
  height: 50px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
}

.add-product-container button:hover {
  background: linear-gradient(45deg, #e85b3b, rgb(232, 33, 86));
}

.add-product-container input {
  height: 30px;
  width: 200px;
  margin: 10px;
  text-align: center;
  color: black;
  font-size: 15px;
  appearance: none;
}

.add-product-containerinput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-product-container input:focus {
  outline: none !important;
  border-color: red;
}

.add-product-container select {
  height: 25px;
  margin: 15px;
}

.add-product-container input:focus::placeholder {
  color: transparent;
}

.add-product-container option {
  position: absolute;
}

@media (max-width: 700px) {
  .add-product-container button {
    font-size: 12px;
  }
}
