.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  border: 2px solid #e85b3b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
}

.p {
  margin-bottom: 100px;
}

@media (max-width: 700px) {
  .modal-content {
    width: 300px;
  }
  .modal {
    font-size: 15px;
  }
}
