.footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.8);
  height: 7vh;
  align-items: center;
  justify-content: flex-end;
}

.footer svg {
  height: 2em;
  width: 2em;
}

.cart-emoji {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.cart-emoji p {
  position: absolute;
  margin-top: 0;
  margin-left: 20px;
  color: white;
  background-color: red;
  font-size: 15px;
  width: 15px;
  border-radius: 10px;
  font-weight: bold;
}

.cart-emoji:hover {
  color: red;
}

.burgerContainer {
  right: 0;
}

@keyframes ease-in {
  from {
    width: 0px;
  }
  to {
    width: 250px;
  }
}
@keyframes ease-out {
  from {
    width: 250px;
  }
  to {
    width: 0px;
  }
}

.ease-in {
  animation-name: ease-in;
  animation-duration: 1s;
  z-index: 1;
}

.ease-out {
  display: none;
}

.logout {
  display: flex;
}

.footer button {
  border: none;
  background-color: transparent;
  margin-right: 40px;
}

.footer-text-button {
  font-size: 15px;
  font-weight: bold;
}

.footer-text-button:hover {
  color: red;
}

.nav-text {
  position: absolute;
  left: 20px;
}

@media (max-width: 700px) {
  .footer-text-button {
    font-size: 15px;
  }
  .footer svg {
    height: 1.5em;
    width: 1.5em;
  }
  .footer button {
    margin-right: 20px;
  }
}
