.filter-input {
  width: 90%;
  height: 100%;
}

.filter-input input {
  width: 90%;
  height: 35px;
  border-radius: 10px;
  border: none;
  margin-top: 12px;
  padding-left: 10px;
}

.filter-input input:focus {
  outline: none;
}

.filter-input button {
  height: 37px;
  border-radius: 0 10px 10px 0;
  position: absolute;
  margin-left: -20px;
  background-color: white;
  border: none;
  margin-top: 12px;
  background-color: rgb(248, 248, 98);
  width: 60px;
}

.filter-input button:hover {
  cursor: pointer;
}

.filter-input svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 3px;
}
