.login-container {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  flex-direction: column;
  border: 1px solid #e85b3b;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(112, 114, 117, 0.75);
}

.login-container {
  background-color: white;
}

.login-container button {
  border: 3px solid #e85b3b;
  background: transparent;
  margin: 5px;
  width: 175px;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
}

.login-container button:hover {
  background: linear-gradient(45deg, #e85b3b, rgb(232, 33, 86));
}

.login-container input {
  height: 30px;
  width: 150px;
  margin: 10px;
}
