.nav {
  background: linear-gradient(#e85b3b, rgb(248, 36, 93));
  height: 60px;
  top: 0;
  width: 100vw;
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav h4 {
  display: inline-block;
  height: 20px;
}

@media (max-width: 700px) {
  .nav {
    font-size: 15px;
  }
}
