.nav {
  background: linear-gradient(#e85b3b, rgb(248, 36, 93));
  height: 75px;
  top: 0;
  position: absolute;
  width: 100vw;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav button {
  border: none;
  background-color: transparent;
}

.nav h3 {
  display: inline-block;
}
