.nav {
  background-color: rgb(20, 138, 101);
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav button {
  border: none;
  background-color: rgb(20, 138, 101);
}

.nav h3 {
  display: inline-block;
}
