.categories-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
}

.category-container {
  width: 300px;
  height: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  margin: 40px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

.categories-container a {
  text-decoration: none;
  font-size: 35px;
  color: black;
  text-shadow: 3px 3px black;
  /* -webkit-text-stroke: 0.5px black; */
  -webkit-text-fill-color: rgb(255, 255, 255);
  position: absolute;
  font-weight: bold;
}

.categories-container img {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  cursor: pointer;
}

.products-h1-container {
  margin-top: 50px;
  text-align: center;
  margin: auto;
}

@media (max-width: 1200px) {
  .categories-container {
    grid-template-columns: 400px 400px;
  }
}

@media (max-width: 700px) {
  .categories-container {
    grid-template-columns: 400px;
  }
  .products-h1-container {
    width: 80vw;
  }
}
